<div fxLayout="column">
    <div>
        <h1>Search your heroe</h1>
    </div>
    <div fxLayout="column">
       <h2>Search</h2>

       
        <mat-form-field >
          <mat-label>Hero</mat-label>
          <input type="text"
                 placeholder="Type your hero"
                 aria-label="Hero"
                 matInput
                 [(ngModel)]="key"
                 [matAutocomplete]="auto"
                 (input)="search()"
                 >
          <mat-autocomplete autoActiveFirstOption 
                            #auto="matAutocomplete"
                            (optionSelected)="selectedOption( $event )">
       
                
            <mat-option *ngFor="let heroe of heroes" [value]="heroe" >
              {{heroe.superhero}}
            </mat-option>
            <mat-option [value]="" *ngIf="heroes.length===0 && key.trim().length>0">
                There is no hero with {{key}} name
            </mat-option>
       
          </mat-autocomplete>

      
          
        </mat-form-field>
  
      
    </div>

    <div *ngIf="selectedHero!==undefined">
        <app-heroes-cards-component [heroe]="selectedHero"></app-heroes-cards-component>
    </div>
</div>
